# Unit F
# Document Database Model

- Examples From Video Lecture

In [1]:
# Spark init
import pyspark
from pyspark.sql import SparkSession
mongo_uri = "mongodb://admin:mongopw@mongo:27017/admin?authSource=admin"

spark = SparkSession \
    .builder \
    .master("local") \
    .appName('jupyter-pyspark') \
      .config("spark.mongodb.input.uri", mongo_uri) \
      .config("spark.mongodb.output.uri", mongo_uri) \
      .config("spark.jars.packages","org.mongodb.spark:mongo-spark-connector_2.12:3.0.2")\
    .getOrCreate()
sc = spark.sparkContext
sc.setLogLevel("ERROR")

## Loading Sample Data

- Run this code to load some sample data into MongoDb

In [2]:
## Loading Sample Data
from pyspark.sql.functions import col
s = spark.read.option("multiline","true").json("file:///home/jovyan/datasets/json-samples/stocks.json")
spark.read.option("multiline","true").json("file:///home/jovyan/datasets/json-samples/Europe.json")\
    .write.format("mongo").mode("overwrite").option("database","demo").option("collection","europe").save()
spark.read.option("multiline","true").json("file:///home/jovyan/datasets/json-samples/fudgemart-products.json")\
    .withColumn("_id", col("product_id")).write.format("mongo").mode("overwrite").option("database","demo").option("collection","products").save()
spark.read.option("multiline","true").json("file:///home/jovyan/datasets/json-samples/US-Senators.json")\
    .write.format("mongo").mode("overwrite").option("database","demo").option("collection","senators").save()

In [3]:
df = spark.read.option("multiline","true").json("file:///home/jovyan/datasets/json-samples/Europe.json")

In [4]:
df.write.format("mongo").mode("overwrite")\
    .option("database","demo")\
    .option("collection","europe").save()

In [5]:
fmp = spark.read.option("multiline","true")\
.json("file:///home/jovyan/datasets/json-samples/fudgemart-products.json")

In [6]:
fmp.show()

+----------------+----------+--------------------+--------------------+-----------+--------------------+
|product_category|product_id|        product_name|product_retail_price|vendor_name|      vendor_website|
+----------------+----------+--------------------+--------------------+-----------+--------------------+
|        Hardware|         1|Straight Claw Hammer|               15.95|    Stanlee|                NULL|
|        Hardware|         2|       Sledge Hammer|               21.95|    Stanlee|                NULL|
|        Hardware|         3|     Rip Claw Hammer|               19.95|    Stanlee|                NULL|
|        Clothing|         4|         Dri-Fit Tee|                20.0|      Mikey|    http://mikee.com|
|        Clothing|         5|       Running Pants|                35.0|      Mikey|    http://mikee.com|
|        Clothing|         6|          Wool Socks|                 8.0|      Mikey|    http://mikee.com|
|        Clothing|         7|      Squeaky Sneaks|                65.0|      Mikey|    http://mikee.com|
|        Clothing|         8|          Cool Jeans|                45.0|  Leaveeyes|                NULL|
|        Clothing|         9|        Denim Jacket|                60.0|  Leaveeyes|                NULL|
|        Clothing|        10|      Leather Jacket|                95.0|  Leaveeyes|                NULL|
|        Clothing|        11|      Courdory Pants|                24.0|  Leaveeyes|                NULL|
|        Clothing|        12|          Work Pants|                38.0|    Stanlee|                NULL|
|        Clothing|        13|         Work Gloves|                 8.0|    Stanlee|                NULL|
|        Clothing|        14|      Comfor-fit Tee|                12.0|    Weebock|http://www.weeboc...|
|        Clothing|        15|      Running Shorts|                20.0|    Weebock|http://www.weeboc...|
|        Clothing|        16|       X-Train Shoes|                75.0|    Weebock|http://www.weeboc...|
|        Clothing|        17|        Baseball Cap|                10.0|    Weebock|http://www.weeboc...|
|     Electronics|        18|          DVD Player|                45.0|      Soney|http://www.soney.com|
|     Electronics|        19|       HD-DVD Player|               150.0|      Soney|http://www.soney.com|
|     Electronics|        20|  Blu-Ray DVD Player|               150.0|      Soney|http://www.soney.com|
+----------------+----------+--------------------+--------------------+-----------+--------------------+
only showing top 20 rows

## MongoDB Clients and Applications:

- The **Mongo Db Shell** is the offical client where you can type in the MQL (Mongo Query Language)  
  `PS> docker-compose exec mongo mongosh -u admin -p mongopw --authenticationDatabase=admin`
- **Mongo Express** is a web-based database administration application, http://localhost:8881
- There is a **Sample Python Application** here: http://localhost:5081
- To Connect MongoDb to Tools like Tableau or PowerBI, use an ODBC driver like this one here:  
  https://github.com/mongodb/mongo-bi-connector-odbc-driver/releases/
  
  
## Mongo Shell Queries


### MQL: Create and Read

```
# current Database 
db

# Show all databases
show databases


# Use a database, does not have to exist - mongo don't care!
use demo

#show collections 
show collections

# insert some data – how did it make the collection – mongo don’t care!
db.cars.insertOne({ "make": "Chevy", "model" : "Cruze" })

# insert a couple....
db.cars.insertMany( [ { "make": "Chevy", "model" : "Traverse" }, { "make": "Chevy", "model" : "Trax", "mpg" : 36} ] )

# show all documents
db.cars.find()

# No a car? Mongo don't care!
db.cars.insertOne( { "name" : "Mike Fudge", "age" : 50 } )
db.cars.find()


# Insert same thing twice … mongo don’t care!
db.cars.insertOne({ "make": "Honda", "model" : "Civic"})

# oops no schema but I forgot mpg...
db.cars.insertOne({ "make": "Honda", "model" : "Civic", "mpg" : 40 })

## Simple query By Value

db.cars.find( { "make" : "Chevy" })

```

### MQL:Understanding_id

```
# Insert Multiple Times 

db.cars.insertOne( { "make" : "Honda", "model" : "CRV"})
db.cars.insertOne( { "make" : "Honda", "model" : "CRV"})

# added once
db.cars.insertOne( { "make" : "Honda", "model" : "CRV", "_id" : 1 })

# cannot be added again! At least there is key integrity.
db.cars.insertOne( { "make" : "Honda", "model" : "CRV", "_id" : 1 })
```

### MQL: Updating and Deleting Data


```
# delete the first one that matches 
db.cars.deleteOne( { "model" : "CRV" } )

bb.cars.find()

# delete all that match
db.cars.deleteMany( { "model" : "CRV" } )

# delete something that's not there
db.cars.deleteMany( { "model" : "Fabio" })

# delete by Object Id
db.cars.find({ "name" : "Mike Fudge" })
(record object ID)
db.cars.deleteOne({"_id" : ObjectId("6203d8c48017a5f57d121bf6")})

# delete by an object ID, Non Surrogate
db.cars.deletOne( { "_id" : 1 } )

# replace – no partial updates
db.cars.insertOne( { "make" : "Honda", "model" : "CRV", "_id" : 2 })

db.cars.replaceOne({ "_id" : 2},  { "mpg" : 26 } )

#where did it go?
bb.cars.find()

# full overwrite, so you must replace
db.cars.replaceOne({ "_id" : 2},  { "make" : "Honda", "model" : "CRV", "mpg": 26, "_id" : 2 })


# updates - add MPG to traverse

db.cars.updateOne({model: 'Traverse'}, {$set : {mpg:18}})

# update multiple values
db.cars.updateOne({model: 'Traverse'}, {$set : {mpg:16, "type": "SUV" }})

#update several documents

db.cars.updateMany({}, { $set: { "owner": "mafudge"}} )

```

### Find Queries

```
# no filter,  just ask for 3 columns (notice we get nothing for license plate)

db.cars({}, { make:1, model:2, "license place":3 }) 

# here's a complex filter: make is chevy and includes an mpg
db.cars.find({ $and : [  {make : "Chevy"}, {mpg : { $exists: true } } ] })

# let's combine that:
db.cars.find({ $and : [  {make : "Chevy"}, {mpg : { $exists: true } } ] }, { make:1, model:2, mpg:3, "license place":6 })

#and let's sort that
db.cars.find({ $and : [  {make : "Chevy"}, {mpg : { $exists: true } } ] }, { make:1, model:2, mpg:3, "license place":6 }).sort({mpg:-1})

```

### Indexing


```
# querying by region!
db.europe.find( {"subregion" : "Eastern Europe"}).explain("executionStats")

Seaches through all 53 countries…. Blah. (docsExamined)
COLLSCAN is like a TABLE SCAN in SQL

# Let’s add an index.
db.europe.createIndex( {subregion:1})

db.europe.find( {"subregion" : "Eastern Europe"}).explain("executionStats")
db.europe.find( {"subregion" : “Southern Europe"}).explain("executionStats")

Now its doing an IXSCAN (index scan) and looking at the keysExamined!
```

## Drilling Mongo

```

Storage config is easy!

{
  "type": "mongo",
  "connection": "mongodb://admin:mongopw@mongo:27017/admin",
  "enabled": true
}

some drills:

# avg population by subregion 
select subregion, avg(population) as avg_pop, count(*) as county_count 
    from mongo.demo.europe
    group by subregion 

# russian timeszones
select name, population, flatten(timezones) from mongo.demo.europe where name = 'Russia'

```

## MongoDb In Spark

- MongoDb has first-class support for Spark
- When using filters with DataFrames API, the underlying Mongo Connector code constructs an aggregation pipeline to filter the data in MongoDB before sending it to Spark.
- This ensures only the data needed is retrieved from MongoDb

In [7]:
# Write data, Surrogate key ID
s = spark.read.option("multiline","true").json("file:///home/jovyan/datasets/json-samples/stocks.json")
s.write.format("mongo") \
    .mode("overwrite").option("database","fdoc")\
    .option("collection","stocks1").save()

In [8]:
# Write data, assign an existing column as the "_id" before write.
s.withColumn("_id",s.symbol).write.format("mongo")\
    .mode("overwrite").option("database","fdoc").option("collection","stocks2").save()

In [9]:
s2 = spark.read.format("mongo").option("database","fdoc").option("collection","stocks1").load()
s2.show()

+--------------------+-------+------+
|                 _id|  price|symbol|
+--------------------+-------+------+
|{6760dea42bd97450...| 126.82|  AAPL|
|{6760dea42bd97450...|3098.12|  AMZN|
|{6760dea42bd97450...| 251.11|    FB|
|{6760dea42bd97450...|1725.05|  GOOG|
|{6760dea42bd97450...| 128.39|   IBM|
|{6760dea42bd97450...| 212.55|  MSFT|
|{6760dea42bd97450...|   78.0|   NET|
|{6760dea42bd97450...|  497.0|  NFLX|
|{6760dea42bd97450...|  823.8|  TSLA|
|{6760dea42bd97450...|  45.11|  TWTR|
+--------------------+-------+------+

## Understanding how the Mongo Spark Connector Builds the aggregation pipeline

In this example we demonstrate how the MongoDb connect passes most of the DataFrame tranformation logic directly to MongoDb thereby reducing the amount of computational effort expected of the Spark cluster.

- `localq` processes all the transformations on spark. This consumes more memory and CPU on the spark cluster
- `mongoq` Applies a PushedFilters and ReadSchema to MongoDb, meaning only "Northern Europe" documents and only the "alpha3Code", "name","subregion", "population", and "borders" columns are being sent from MongoDb to Spark.

In [10]:
local_euro = spark.read.option("multiline","true").json("file:///home/jovyan/datasets/json-samples/Europe.json")

In [11]:
local_euro.write.format("mongo").mode("overwrite").option("database","fdoc").option("collection","europe").save()
mongo_euro = spark.read.format("mongo").option("database","fdoc").option("collection","europe").load()

In [12]:
from pyspark.sql.functions import * 
#local_euro.printSchema()

# Heres a DataFrame transformation. This could be in SQL too.
localq = local_euro.select("alpha3Code", "name","subregion", "population", explode(col("borders")).alias("borderAlpha3Code")).filter("subregion = 'Northern Europe'")
mongoq = mongo_euro.select("alpha3Code", "name","subregion", "population", explode(col("borders")).alias("borderAlpha3Code")).filter("subregion = 'Northern Europe'")

localq.show(7)
mongoq.show(7)

print("plan for local file")
localq.explain()

print("plan for MongoDb")
mongoq.explain()

+----------+-------------------+---------------+----------+----------------+
|alpha3Code|               name|      subregion|population|borderAlpha3Code|
+----------+-------------------+---------------+----------+----------------+
|       DNK|            Denmark|Northern Europe|   5678348|             DEU|
|       EST|            Estonia|Northern Europe|   1313271|             LVA|
|       EST|            Estonia|Northern Europe|   1313271|             RUS|
|       FIN|            Finland|Northern Europe|   5485215|             NOR|
|       FIN|            Finland|Northern Europe|   5485215|             SWE|
|       FIN|            Finland|Northern Europe|   5485215|             RUS|
|       IRL|Republic of Ireland|Northern Europe|   6378000|             GBR|
+----------+-------------------+---------------+----------+----------------+
only showing top 7 rows

+----------+-------------------+---------------+----------+----------------+
|alpha3Code|               name|      subregion|population|borderAlpha3Code|
+----------+-------------------+---------------+----------+----------------+
|       DNK|            Denmark|Northern Europe|   5678348|             DEU|
|       EST|            Estonia|Northern Europe|   1313271|             LVA|
|       EST|            Estonia|Northern Europe|   1313271|             RUS|
|       FIN|            Finland|Northern Europe|   5485215|             NOR|
|       FIN|            Finland|Northern Europe|   5485215|             SWE|
|       FIN|            Finland|Northern Europe|   5485215|             RUS|
|       IRL|Republic of Ireland|Northern Europe|   6378000|             GBR|
+----------+-------------------+---------------+----------+----------------+
only showing top 7 rows

plan for local file
== Physical Plan ==
*(1) Project [alpha3Code#633, name#644, subregion#650, population#647L, borderAlpha3Code#835]
+- *(1) Generate explode(borders#636), [alpha3Code#633, name#644, population#647L, subregion#650], false, [borderAlpha3Code#835]
   +- *(1) Filter (((isnotnull(subregion#650) AND (subregion#650 = Northern Europe)) AND (size(borders#636, true) > 0)) AND isnotnull(borders#636))
      +- FileScan json [alpha3Code#633,borders#636,name#644,population#647L,subregion#650] Batched: false, DataFilters: [isnotnull(subregion#650), (subregion#650 = Northern Europe), (size(borders#636, true) > 0), isno..., Format: JSON, Location: InMemoryFileIndex(1 paths)[file:/home/jovyan/datasets/json-samples/Europe.json], PartitionFilters: [], PushedFilters: [IsNotNull(subregion), EqualTo(subregion,Northern Europe), IsNotNull(borders)], ReadSchema: struct<alpha3Code:string,borders:array<string>,name:string,population:bigint,subregion:string>


plan for MongoDb
== Physical Plan ==
*(1) Project [alpha3Code#790, name#801, subregion#807, population#804L, borderAlpha3Code#843]
+- *(1) Generate explode(borders#793), [alpha3Code#790, name#801, population#804L, subregion#807], false, [borderAlpha3Code#843]
   +- *(1) Filter ((((size(borders#793, true) > 0) AND isnotnull(subregion#807)) AND (subregion#807 = Northern Europe)) AND isnotnull(borders#793))
      +- *(1) Scan MongoRelation(MongoRDD[89] at RDD at MongoRDD.scala:51,Some(StructType(StructField(_id,StructType(StructField(oid,StringType,true)),true),StructField(alpha2Code,StringType,true),StructField(alpha3Code,StringType,true),StructField(altSpellings,ArrayType(StringType,true),true),StructField(area,DoubleType,true),StructField(borders,ArrayType(StringType,true),true),StructField(callingCodes,ArrayType(StringType,true),true),StructField(capital,StringType,true),StructField(currencies,ArrayType(StringType,true),true),StructField(demonym,StringType,true),StructField(gini,DoubleType,true),StructField(languages,ArrayType(StringType,true),true),StructField(latlng,ArrayType(DoubleType,true),true),StructField(name,StringType,true),StructField(nativeName,StringType,true),StructField(numericCode,StringType,true),StructField(population,LongType,true),StructField(region,StringType,true),StructField(relevance,StringType,true),StructField(subregion,StringType,true),StructField(timezones,ArrayType(StringType,true),true),StructField(topLevelDomain,ArrayType(StringType,true),true),StructField(translations,StructType(StructField(de,StringType,true),StructField(es,StringType,true),StructField(fr,StringType,true),StructField(it,StringType,true),StructField(ja,StringType,true)),true)))) [alpha3Code#790,borders#793,name#801,population#804L,subregion#807] PushedFilters: [IsNotNull(subregion), EqualTo(subregion,Northern Europe), IsNotNull(borders)], ReadSchema: struct<alpha3Code:string,borders:array<string>,name:string,population:bigint,subregion:string>

In [13]:
mongoq.printSchema()

root
 |-- alpha3Code: string (nullable = true)
 |-- name: string (nullable = true)
 |-- subregion: string (nullable = true)
 |-- population: long (nullable = true)
 |-- borderAlpha3Code: string (nullable = true)

In [14]:
mongo_euro

DataFrame[_id: struct<oid:string>, alpha2Code: string, alpha3Code: string, altSpellings: array<string>, area: double, borders: array<string>, callingCodes: array<string>, capital: string, currencies: array<string>, demonym: string, gini: double, languages: array<string>, latlng: array<double>, name: string, nativeName: string, numericCode: string, population: bigint, region: string, relevance: string, subregion: string, timezones: array<string>, topLevelDomain: array<string>, translations: struct<de:string,es:string,fr:string,it:string,ja:string>]

In [15]:
# SQL ? No problem!

In [19]:
mongo_euro.createOrReplaceTempView("euro")
spark.sql("show tables").show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
|         |     euro|       true|
+---------+---------+-----------+

In [23]:
spark.sql("""
    select name, capital, explode(timezones)
    from euro
""").show()

+--------------------+----------------+---------+
|                name|         capital|      col|
+--------------------+----------------+---------+
|       Åland Islands|       Mariehamn|UTC+02:00|
|             Albania|          Tirana|UTC+01:00|
|             Andorra|Andorra la Vella|UTC+01:00|
|             Austria|          Vienna|UTC+01:00|
|             Belarus|           Minsk|UTC+03:00|
|             Belgium|        Brussels|UTC+01:00|
|Bosnia and Herzeg...|        Sarajevo|UTC+01:00|
|            Bulgaria|           Sofia|UTC+02:00|
|             Croatia|          Zagreb|UTC+01:00|
|              Cyprus|         Nicosia|UTC+02:00|
|      Czech Republic|          Prague|UTC+01:00|
|             Denmark|      Copenhagen|UTC-04:00|
|             Denmark|      Copenhagen|UTC-03:00|
|             Denmark|      Copenhagen|UTC-01:00|
|             Denmark|      Copenhagen|      UTC|
|             Denmark|      Copenhagen|UTC+01:00|
|             Estonia|         Tallinn|UTC+02:00|
|       Faroe Islands|        Tórshavn|UTC+00:00|
|             Finland|        Helsinki|UTC+02:00|
|              France|           Paris|UTC-10:00|
+--------------------+----------------+---------+
only showing top 20 rows