In [2]:
! sudo cp /home/jovyan/work/jars/neo4j-connector-apache-spark_2.12-4.1.0_for_spark_3.jar /usr/local/spark/jars/neo4j-connector-apache-spark_2.12-4.1.0_for_spark_3.jar

In [3]:
import pyspark
from pyspark.sql import SparkSession
# NEO4J  CONFIGURATION
bolt_url = "bolt://neo4j:7687"
# Spark init
spark = SparkSession.builder \
    .master("local") \
    .appName('jupyter-pyspark') \
    .getOrCreate()
sc = spark.sparkContext
sc.setLogLevel("ERROR")

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark-3.1.2-bin-hadoop3.2/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
23/04/05 17:15:53 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [4]:
#5 
cipher_ql = '''
Match (s:Supplier)-[:SUPPLIES]->(p:Product)
where p.discontinued=false and s.country="USA" 
return  s.companyName,s.contactName, s.country, p.productName, p.unitPrice, p.unitsInStock, p.discontinued
'''
#RETURN c.code, c.level, t.semester, f.name, f.title
df2 = spark.read.format("org.neo4j.spark.DataSource") \
  .option("url", bolt_url) \
  .option("query",cipher_ql) \
  .load()
df2.toPandas()

,s.companyName,s.contactName,s.country,p.productName,p.unitPrice,p.unitsInStock,p.discontinued
0,New Orleans Cajun Delights,Shelley Burke,USA,Louisiana Hot Spiced Okra,17.00,4,False
1,New Orleans Cajun Delights,Shelley Burke,USA,Chef Anton's Cajun Seasoning,22.00,53,False
2,New Orleans Cajun Delights,Shelley Burke,USA,Louisiana Fiery Hot Pepper Sauce,21.05,76,False
3,New Orleans Cajun Delights,Shelley Burke,USA,Chef Anton's Cajun Seasoning,22.00,53,False
4,New Orleans Cajun Delights,Shelley Burke,USA,Louisiana Fiery Hot Pepper Sauce,21.05,76,False
...,...,...,...,...,...,...,...
72,New England Seafood Cannery,Robb Merchant,USA,Boston Crab Meat,18.40,123,False
73,New England Seafood Cannery,Robb Merchant,USA,Jack's New England Clam Chowder,9.65,85,False
74,New England Seafood Cannery,Robb Merchant,USA,Boston Crab Meat,18.40,123,False
75,New England Seafood Cannery,Robb Merchant,USA,Boston Crab Meat,18.40,123,False
76,New England Seafood Cannery,Robb Merchant,USA,Jack's New England Clam Chowder,9.65,85,False

In [6]:
#6
from pyspark.sql.functions import col, concat, lit
e = spark.read.option("multiline",True) \
    .json("file:///home/jovyan/datasets/fudgemart/fudgemart-employees.json") \
    .withColumn("employee_name", concat(col("employee_firstname"),lit(" "),col("employee_lastname")) )
e.toPandas()

,employee_birthdate,employee_department,employee_firstname,employee_fulltime,employee_hiredate,employee_hourlywage,employee_id,employee_jobtitle,employee_lastname,employee_ssn,employee_supervisor_id,employee_termdate,employee_name
0,1982-01-12T00:00:00,Electronics,Arial,0,2011-07-05T00:00:00,15.2830,1,Sales Associate,Photo,111220001,5.0,None,Arial Photo
1,1982-11-30T00:00:00,Electronics,Sal,1,2005-07-26T00:00:00,15.0699,2,Sales Associate,Ladd,111220002,5.0,None,Sal Ladd
2,1972-09-03T00:00:00,Hardware,Dustin,0,2004-07-02T00:00:00,12.4500,3,Sales Associate,Dawind,111220003,6.0,2010-11-06T00:00:00,Dustin Dawind
3,1990-05-13T00:00:00,Hardware,Sandi,1,2011-01-02T00:00:00,13.0997,4,Sales Associate,Shores,111220004,6.0,None,Sandi Shores
4,1974-02-22T00:00:00,Electronics,Isabelle,1,2005-08-16T00:00:00,20.1287,5,Department Manager,Gunnering,111220005,32.0,None,Isabelle Gunnering
5,1973-07-29T00:00:00,Hardware,Lee,1,2004-01-26T00:00:00,18.5845,6,Department Manager,Hvmeehom,111220006,32.0,None,Lee Hvmeehom
6,1988-04-03T00:00:00,Housewares,Allan,1,2005-02-22T00:00:00,12.0878,7,Sales Associate,Wrench,111220007,24.0,None,Allan Wrench
7,1973-12-13T00:00:00,Sporting Goods,Ally,1,2005-08-14T00:00:00,12.3541,8,Sales Associate,Gator,111220008,27.0,None,Ally Gator
8,1980-11-30T00:00:00,Housewares,Alma,1,2004-11-12T00:00:00,11.7152,9,Sales Associate,Frienzergon,111220009,24.0,None,Alma Frienzergon
9,1976-10-02T00:00:00,Hardware,Artie,1,2005-04-04T00:00:00,12.7269,10,Sales Associate,Choke,111220010,6.0,None,Artie Choke
10,1988-03-23T00:00:00,Sporting Goods,Bette,0,2005-05-06T00:00:00,11.5021,11,Sales Associate,Alott,111220011,27.0,None,Bette Alott
11,1991-01-29T00:00:00,Sporting Goods,Bill,1,2004-10-29T00:00:00,10.3571,12,Sales Associate,Melator,111220012,27.0,2011-01-11T00:00:00,Bill Melator
12,1987-11-01T00:00:00,Sporting Goods,Bob,1,2011-09-01T00:00:00,12.4899,13,Sales Associate,Enweave,111220013,27.0,None,Bob Enweave
13,1984-05-05T00:00:00,Electronics,Chris P.,1,2004-07-27T00:00:00,15.7089,14,Sales Associate,Nugget,111220014,5.0,None,Chris P. Nugget
14,1991-01-29T00:00:00,Sporting Goods,Chuck,0,2005-02-23T00:00:00,11.2359,15,Sales Associate,Itupp,111220015,27.0,None,Chuck Itupp
15,1990-04-14T00:00:00,Hardware,Detyers,1,2005-05-01T00:00:00,13.4724,16,Sales Associate,Erin,111220016,6.0,None,Detyers Erin
16,1985-09-17T00:00:00,Clothing,Kurt,0,2004-09-04T00:00:00,9.8514,17,Sales Associate,Tan,111220017,20.0,None,Kurt Tan
17,1982-12-22T00:00:00,Clothing,Justin,0,2004-10-03T00:00:00,9.4786,18,Sales Associate,Case,111220018,20.0,None,Justin Case
18,1988-11-30T00:00:00,Clothing,Kent,1,2005-02-14T00:00:00,10.0644,19,Sales Associate,Belevit,111220019,20.0,None,Kent Belevit
19,1981-02-17T00:00:00,Clothing,Mary,1,2004-01-02T00:00:00,20.8210,20,Department Manager,Mi,111220020,32.0,None,Mary Mi
20,1989-04-24T00:00:00,Electronics,Maxi,1,2004-01-29T00:00:00,14.2179,21,Sales Associate,Mumm,111220021,5.0,None,Maxi Mumm
21,1988-03-23T00:00:00,Housewares,Mike,0,2005-06-20T00:00:00,11.7152,22,Sales Associate,Rophone,111220022,24.0,None,Mike Rophone
22,1990-06-02T00:00:00,Sporting Goods,Nat,0,2010-09-20T00:00:00,12.0346,23,Sales Associate,Tural,111220023,27.0,None,Nat Tural
23,1983-03-13T00:00:00,Housewares,Otto,1,2005-04-09T00:00:00,18.6377,24,Department Manager,Moni,111220024,32.0,None,Otto Moni
24,1987-06-25T00:00:00,Housewares,Patty,1,2005-12-08T00:00:00,11.6086,25,Sales Associate,O'Furniture,111220025,24.0,None,Patty O'Furniture
25,1987-07-07T00:00:00,Sporting Goods,Pete,0,2004-05-10T00:00:00,10.6501,26,Sales Associate,Moss,111220026,27.0,None,Pete Moss
26,1983-10-10T00:00:00,Sporting Goods,Sara,1,2004-06-02T00:00:00,20.4483,27,Department Manager,Docktur-Indahaus,111220027,32.0,None,Sara Docktur-Indahaus
27,1990-01-14T00:00:00,Clothing,Sara,1,2010-04-24T00:00:00,9.5851,28,Sales Associate,Isnomor,111220028,20.0,None,Sara Isnomor
28,1985-03-30T00:00:00,Customer Service,Seymour,1,2005-05-25T00:00:00,14.3777,29,Sales Associate,Ofewe,111220029,31.0,None,Seymour Ofewe
29,1984-06-01T00:00:00,Customer Service,Sonny,1,2004-12-01T00:00:00,13.7919,30,Sales Associate,Shores,111220030,31.0,None,Sonny Shores
30,1981-04-14T00:00:00,Customer Service,Tally,1,2004-11-28T00:00:00,22.8977,31,Department Manager,Itupp,111220031,32.0,None,Tally Itupp
31,1983-06-20T00:00:00,Customer Service,Tuck,1,2005-02-15T00:00:00,30.3529,32,Store Manager,Androll,111220032,33.0,None,Tuck Androll
32,1970-01-01T00:00:00,Customer Service,Mike,1,2004-01-01T00:00:00,73.3261,33,CEO,Fudge,111220033,NaN,None,Mike Fudge

In [10]:
from pyspark.sql.functions import concat_ws
e.select( concat_ws("-", "employee_jobtitle", "employee_department").alias("foo") ).toPandas()

                                    foo
0           Sales Associate-Electronics
1           Sales Associate-Electronics
2              Sales Associate-Hardware
3              Sales Associate-Hardware
4        Department Manager-Electronics
5           Department Manager-Hardware
6            Sales Associate-Housewares
7        Sales Associate-Sporting Goods
8            Sales Associate-Housewares
9              Sales Associate-Hardware
10       Sales Associate-Sporting Goods
11       Sales Associate-Sporting Goods
12       Sales Associate-Sporting Goods
13          Sales Associate-Electronics
14       Sales Associate-Sporting Goods
15             Sales Associate-Hardware
16             Sales Associate-Clothing
17            Sales Associate -Clothing
18             Sales Associate-Clothing
19          Department Manager-Clothing
20          Sales Associate-Electronics
21           Sales Associate-Housewares
22       Sales Associate-Sporting Goods
23        Department Manager-Housewares
24           Sales Associate-Housewares
25       Sales Associate-Sporting Goods
26    Department Manager-Sporting Goods
27             Sales Associate-Clothing
28     Sales Associate-Customer Service
29     Sales Associate-Customer Service
30  Department Manager-Customer Service
31       Store Manager-Customer Service
32                 CEO-Customer Service

In [7]:
emps = .select("employee_name","employee_department", "employee_jobtitle","employee_id").distinct()

SyntaxError: invalid syntax (837298648.py, line 1)

In [12]:
#7
cipher_ql = '''
MERGE (f:Employee {
    name: event.employee_name , 
    department: event.employee_department, 
    jobtitle: event.employee_jobtitle, 
    id: event.employee_id 
})
'''
emps = e.select("employee_name","employee_department", "employee_jobtitle","employee_id").distinct()
emps.write.format("org.neo4j.spark.DataSource").mode("Overwrite") \
  .option("url", bolt_url) \
  .option("query",cipher_ql) \
  .save()

In [9]:
equery = "match (e:Employee) RETURN e.department;"
demo = spark.read.format("org.neo4j.spark.DataSource") \
    .option("url", bolt_url) \
    .option("query",equery) \
    .load()

demo.show()

+----------------+
|    e.department|
+----------------+
|        Hardware|
|  Sporting Goods|
|     Electronics|
|        Clothing|
|      Housewares|
|  Sporting Goods|
|Customer Service|
|      Housewares|
|Customer Service|
|     Electronics|
|        Hardware|
|     Electronics|
|        Hardware|
|Customer Service|
|        Clothing|
|        Clothing|
|        Hardware|
|      Housewares|
|  Sporting Goods|
|        Hardware|
+----------------+
only showing top 20 rows

In [35]:
demo.select("e.<id>").show()

+----+
|<id>|
+----+
|  18|
|  19|
|  20|
|  21|
| 138|
| 139|
| 140|
| 141|
| 142|
| 143|
| 144|
| 145|
| 146|
| 147|
| 148|
| 149|
| 150|
| 151|
| 152|
| 153|
+----+
only showing top 20 rows

In [15]:
e.select("employee_id","employee_name","employee_supervisor_id").show()

+-----------+------------------+----------------------+
|employee_id|     employee_name|employee_supervisor_id|
+-----------+------------------+----------------------+
|          1|       Arial Photo|                     5|
|          2|          Sal Ladd|                     5|
|          3|     Dustin Dawind|                     6|
|          4|      Sandi Shores|                     6|
|          5|Isabelle Gunnering|                    32|
|          6|      Lee Hvmeehom|                    32|
|          7|      Allan Wrench|                    24|
|          8|        Ally Gator|                    27|
|          9|  Alma Frienzergon|                    24|
|         10|       Artie Choke|                     6|
|         11|       Bette Alott|                    27|
|         12|      Bill Melator|                    27|
|         13|       Bob Enweave|                    27|
|         14|   Chris P. Nugget|                     5|
|         15|       Chuck Itupp|                    27|
|         16|      Detyers Erin|                     6|
|         17|          Kurt Tan|                    20|
|         18|       Justin Case|                    20|
|         19|      Kent Belevit|                    20|
|         20|           Mary Mi|                    32|
+-----------+------------------+----------------------+
only showing top 20 rows

In [41]:
e.select("employee_id","employee_name","employee_supervisor_id").orderBy("employee_supervisor_id").toPandas()

    employee_id          employee_name  employee_supervisor_id
0            33             Mike Fudge                     NaN
1             1            Arial Photo                     5.0
2             2               Sal Ladd                     5.0
3            14        Chris P. Nugget                     5.0
4            21              Maxi Mumm                     5.0
5             3          Dustin Dawind                     6.0
6             4           Sandi Shores                     6.0
7            10            Artie Choke                     6.0
8            16           Detyers Erin                     6.0
9            17               Kurt Tan                    20.0
10           18            Justin Case                    20.0
11           19           Kent Belevit                    20.0
12           28           Sara Isnomor                    20.0
13            7           Allan Wrench                    24.0
14            9       Alma Frienzergon                    24.0
15           22           Mike Rophone                    24.0
16           25      Patty O'Furniture                    24.0
17            8             Ally Gator                    27.0
18           11            Bette Alott                    27.0
19           12           Bill Melator                    27.0
20           13            Bob Enweave                    27.0
21           15            Chuck Itupp                    27.0
22           23              Nat Tural                    27.0
23           26              Pete Moss                    27.0
24           29          Seymour Ofewe                    31.0
25           30           Sonny Shores                    31.0
26            5     Isabelle Gunnering                    32.0
27            6           Lee Hvmeehom                    32.0
28           20                Mary Mi                    32.0
29           24              Otto Moni                    32.0
30           27  Sara Docktur-Indahaus                    32.0
31           31            Tally Itupp                    32.0
32           32           Tuck Androll                    33.0

In [14]:
#8 add Supervisor relationships
cipher_ql = '''
MATCH (e:Employee)
MATCH (s:Employee)
WHERE e.id = event.employee_id AND 
    s.id = event.employee_supervisor_id
MERGE (s)-[:SUPERVISES]->(e)
'''
e.select("employee_id","employee_name","employee_supervisor_id").write.format("org.neo4j.spark.DataSource").mode("Overwrite") \
  .option("url", bolt_url) \
  .option("query",cipher_ql) \
  .save()

In [15]:
!pip install networkx

Requirement already satisfied: networkx in /opt/conda/lib/python3.9/site-packages (2.5)
Requirement already satisfied: decorator>=4.3.0 in /opt/conda/lib/python3.9/site-packages (from networkx) (5.1.0)