In [1]:
!pip install delta-spark==1.0

Collecting delta-spark==1.0
  Downloading delta_spark-1.0.0-py3-none-any.whl (17 kB)
Requirement already satisfied: pyspark<3.2.0,>=3.1.0 in /usr/local/spark-3.1.2-bin-hadoop3.2/python (from delta-spark==1.0) (3.1.2)
Requirement already satisfied: importlib-metadata>=3.10.0 in /opt/conda/lib/python3.9/site-packages (from delta-spark==1.0) (4.8.1)
Requirement already satisfied: zipp>=0.5 in /opt/conda/lib/python3.9/site-packages (from importlib-metadata>=3.10.0->delta-spark==1.0) (3.5.0)
Collecting py4j==0.10.9
  Downloading py4j-0.10.9-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 3.7 MB/s eta 0:00:01
Installing collected packages: py4j, delta-spark
Successfully installed delta-spark-1.0.0 py4j-0.10.9

In [2]:
import pyspark
from delta import *
from pyspark.sql import SparkSession

builder = pyspark.sql.SparkSession.builder.appName("jupyter-pyspark") \
        .config("spark.jars.packages","org.apache.hadoop:hadoop-aws:3.1.2,org.apache.spark:spark-avro_2.12:3.1.2")\
        .config("spark.hadoop.fs.s3a.endpoint", "http://minio:9000") \
        .config("spark.hadoop.fs.s3a.access.key", "minio") \
        .config("spark.hadoop.fs.s3a.secret.key", "SU2orange!") \
        .config("spark.hadoop.fs.s3a.fast.upload", True) \
        .config("spark.hadoop.fs.s3a.path.style.access", True) \
        .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem") \
        .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
        .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \

spark = configure_spark_with_delta_pip(builder).getOrCreate()
sc = spark.sparkContext
sc.setLogLevel("ERROR")

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark-3.1.2-bin-hadoop3.2/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Ivy Default Cache set to: /home/jovyan/.ivy2/cache
The jars for the packages stored in: /home/jovyan/.ivy2/jars
io.delta#delta-core_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-a4f0399a-8f35-413e-a42a-62c77e751c07;1.0
	confs: [default]

:: loading settings :: url = jar:file:/usr/local/spark-3.1.2-bin-hadoop3.2/jars/ivy-2.4.0.jar!/org/apache/ivy/core/settings/ivysettings.xml

	found io.delta#delta-core_2.12;1.0.0 in central
	found org.antlr#antlr4;4.7 in central
	found org.antlr#antlr4-runtime;4.7 in central
	found org.antlr#antlr-runtime;3.5.2 in central
	found org.antlr#ST4;4.0.8 in central
	found org.abego.treelayout#org.abego.treelayout.core;1.0.3 in central
	found org.glassfish#javax.json;1.0.4 in central
	found com.ibm.icu#icu4j;58.2 in central
downloading https://repo1.maven.org/maven2/io/delta/delta-core_2.12/1.0.0/delta-core_2.12-1.0.0.jar ...
	[SUCCESSFUL ] io.delta#delta-core_2.12;1.0.0!delta-core_2.12.jar (194ms)
downloading https://repo1.maven.org/maven2/org/antlr/antlr4/4.7/antlr4-4.7.jar ...
	[SUCCESSFUL ] org.antlr#antlr4;4.7!antlr4.jar (107ms)
downloading https://repo1.maven.org/maven2/org/antlr/antlr4-runtime/4.7/antlr4-runtime-4.7.jar ...
	[SUCCESSFUL ] org.antlr#antlr4-runtime;4.7!antlr4-runtime.jar (47ms)
downloading https://repo1.maven.org/maven2/org/antlr/antlr-runtime/3.5.2/antlr-runtime-3.5.2.jar ...
	[SUCCESSFUL ] org.antlr#antlr-runtime;3.5.2!antlr-runtime.jar (34ms)
downloading https://repo1.maven.org/maven2/org/antlr/ST4/4.0.8/ST4-4.0.8.jar ...
	[SUCCESSFUL ] org.antlr#ST4;4.0.8!ST4.jar (45ms)
downloading https://repo1.maven.org/maven2/org/abego/treelayout/org.abego.treelayout.core/1.0.3/org.abego.treelayout.core-1.0.3.jar ...
	[SUCCESSFUL ] org.abego.treelayout#org.abego.treelayout.core;1.0.3!org.abego.treelayout.core.jar(bundle) (20ms)
downloading https://repo1.maven.org/maven2/org/glassfish/javax.json/1.0.4/javax.json-1.0.4.jar ...
	[SUCCESSFUL ] org.glassfish#javax.json;1.0.4!javax.json.jar(bundle) (24ms)
downloading https://repo1.maven.org/maven2/com/ibm/icu/icu4j/58.2/icu4j-58.2.jar ...
	[SUCCESSFUL ] com.ibm.icu#icu4j;58.2!icu4j.jar (757ms)
:: resolution report :: resolve 3525ms :: artifacts dl 1228ms
	:: modules in use:
	com.ibm.icu#icu4j;58.2 from central in [default]
	io.delta#delta-core_2.12;1.0.0 from central in [default]
	org.abego.treelayout#org.abego.treelayout.core;1.0.3 from central in [default]
	org.antlr#ST4;4.0.8 from central in [default]
	org.antlr#antlr-runtime;3.5.2 from central in [default]
	org.antlr#antlr4;4.7 from central in [default]
	org.antlr#antlr4-runtime;4.7 from central in [default]
	org.glassfish#javax.json;1.0.4 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   8   |   8   |   8   |   0   ||   8   |   8   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-a4f0399a-8f35-413e-a42a-62c77e751c07
	confs: [default]
	8 artifacts copied, 0 already retrieved (15452kB/17ms)
22/12/30 18:19:51 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [15]:
data = spark.range(0, 5)
data.write.format("delta").save("/tmp/delta-table")

In [16]:
df = spark.read.format("delta").load("/tmp/delta-table")
df.show()

+---+
| id|
+---+
|  1|
|  3|
|  0|
|  4|
|  2|
+---+

In [17]:
data = spark.range(5, 10)
data.write.format("delta").mode("overwrite").save("/tmp/delta-table")

In [9]:
df = spark.read.format("delta").load("/tmp/delta-table")
df.show()

+---+
| id|
+---+
|  7|
|  6|
|  8|
|  9|
|  5|
+---+

In [11]:
df = spark.read.format("delta").option("versionAsOf", 1).load("/tmp/delta-table")
df.show()

+---+
| id|
+---+
|  7|
|  6|
|  8|
|  9|
|  5|
+---+

In [18]:
history = spark.sql("DESCRIBE HISTORY delta.`/tmp/delta-table`")
latest_version = history.selectExpr("max(version)").collect()
df = spark.read.format("delta").option("versionAsOf", latest_version[0][0]).load("/tmp/delta-table")

In [19]:
df.show()

+---+
| id|
+---+
|  7|
|  6|
|  9|
|  5|
|  8|
+---+

In [20]:
history.show()

+-------+--------------------+------+--------+---------+--------------------+----+--------+---------+-----------+--------------+-------------+--------------------+------------+
|version|           timestamp|userId|userName|operation| operationParameters| job|notebook|clusterId|readVersion|isolationLevel|isBlindAppend|    operationMetrics|userMetadata|
+-------+--------------------+------+--------+---------+--------------------+----+--------+---------+-----------+--------------+-------------+--------------------+------------+
|      1|2022-12-30 18:35:...|  null|    null|    WRITE|{mode -> Overwrit...|null|    null|     null|          0|          null|        false|{numFiles -> 6, n...|        null|
|      0|2022-12-30 18:35:...|  null|    null|    WRITE|{mode -> ErrorIfE...|null|    null|     null|       null|          null|         true|{numFiles -> 6, n...|        null|
+-------+--------------------+------+--------+---------+--------------------+----+--------+---------+-----------+--------------+-------------+--------------------+------------+

## More Real-World Example

In [23]:
# Create initial Table
people = spark.read.json(f"s3a://delta/people/*.json") # Read From S3
people.write.format("delta").mode("overwrite").save(f"s3a://delta/people-table") # Write to DeltaTable on D3

In [26]:
people.toPandas()

   age  id    name  weight
0   22   3  Jingle   188.0
1   27   4  Heimer   201.0
2   35   2   Jacob   166.0
3   30   1    John   175.0
4   38   5   Smith     NaN

In [27]:
history = spark.sql(f"DESCRIBE HISTORY delta.`s3a://delta/people-table`")
history.show()

+-------+-------------------+------+--------+---------+--------------------+----+--------+---------+-----------+--------------+-------------+--------------------+------------+
|version|          timestamp|userId|userName|operation| operationParameters| job|notebook|clusterId|readVersion|isolationLevel|isBlindAppend|    operationMetrics|userMetadata|
+-------+-------------------+------+--------+---------+--------------------+----+--------+---------+-----------+--------------+-------------+--------------------+------------+
|      3|2022-12-30 18:36:33|  null|    null|    WRITE|{mode -> Overwrit...|null|    null|     null|          2|          null|        false|{numFiles -> 5, n...|        null|
|      2|2022-12-30 18:36:05|  null|    null|    WRITE|{mode -> Overwrit...|null|    null|     null|          1|          null|        false|{numFiles -> 5, n...|        null|
|      1|2022-12-30 18:33:24|  null|    null|   UPDATE|{predicate -> (na...|null|    null|     null|          0|          null|        false|{numRemovedFiles ...|        null|
|      0|2022-12-30 18:30:25|  null|    null|    WRITE|{mode -> Overwrit...|null|    null|     null|       null|          null|        false|{numFiles -> 5, n...|        null|
+-------+-------------------+------+--------+---------+--------------------+----+--------+---------+-----------+--------------+-------------+--------------------+------------+

In [28]:
peopleTable = DeltaTable.forPath(spark,f"s3a://delta/people-table") # Get as Table

In [29]:
peopleTable.toDF().printSchema()

root
 |-- age: long (nullable = true)
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- weight: long (nullable = true)

In [30]:
peopleTable.update(condition="name='John'", set= { 'weight' : "177" }) #Update will re-write for you

## History of the table

In [46]:
peopleTable.history().show()

+-------+-------------------+------+--------+---------+--------------------+----+--------+---------+-----------+--------------+-------------+--------------------+------------+
|version|          timestamp|userId|userName|operation| operationParameters| job|notebook|clusterId|readVersion|isolationLevel|isBlindAppend|    operationMetrics|userMetadata|
+-------+-------------------+------+--------+---------+--------------------+----+--------+---------+-----------+--------------+-------------+--------------------+------------+
|      4|2022-12-30 18:37:14|  null|    null|   UPDATE|{predicate -> (na...|null|    null|     null|          3|          null|        false|{numRemovedFiles ...|        null|
|      3|2022-12-30 18:36:33|  null|    null|    WRITE|{mode -> Overwrit...|null|    null|     null|          2|          null|        false|{numFiles -> 5, n...|        null|
|      2|2022-12-30 18:36:05|  null|    null|    WRITE|{mode -> Overwrit...|null|    null|     null|          1|          null|        false|{numFiles -> 5, n...|        null|
|      1|2022-12-30 18:33:24|  null|    null|   UPDATE|{predicate -> (na...|null|    null|     null|          0|          null|        false|{numRemovedFiles ...|        null|
|      0|2022-12-30 18:30:25|  null|    null|    WRITE|{mode -> Overwrit...|null|    null|     null|       null|          null|        false|{numFiles -> 5, n...|        null|
+-------+-------------------+------+--------+---------+--------------------+----+--------+---------+-----------+--------------+-------------+--------------------+------------+

In [31]:
history = spark.sql(f"DESCRIBE HISTORY delta.`s3a://delta/people-table`")
history.show()

+-------+-------------------+------+--------+---------+--------------------+----+--------+---------+-----------+--------------+-------------+--------------------+------------+
|version|          timestamp|userId|userName|operation| operationParameters| job|notebook|clusterId|readVersion|isolationLevel|isBlindAppend|    operationMetrics|userMetadata|
+-------+-------------------+------+--------+---------+--------------------+----+--------+---------+-----------+--------------+-------------+--------------------+------------+
|      4|2022-12-30 18:37:14|  null|    null|   UPDATE|{predicate -> (na...|null|    null|     null|          3|          null|        false|{numRemovedFiles ...|        null|
|      3|2022-12-30 18:36:33|  null|    null|    WRITE|{mode -> Overwrit...|null|    null|     null|          2|          null|        false|{numFiles -> 5, n...|        null|
|      2|2022-12-30 18:36:05|  null|    null|    WRITE|{mode -> Overwrit...|null|    null|     null|          1|          null|        false|{numFiles -> 5, n...|        null|
|      1|2022-12-30 18:33:24|  null|    null|   UPDATE|{predicate -> (na...|null|    null|     null|          0|          null|        false|{numRemovedFiles ...|        null|
|      0|2022-12-30 18:30:25|  null|    null|    WRITE|{mode -> Overwrit...|null|    null|     null|       null|          null|        false|{numFiles -> 5, n...|        null|
+-------+-------------------+------+--------+---------+--------------------+----+--------+---------+-----------+--------------+-------------+--------------------+------------+

## Direct delta query in Spark SQL, similar to apache drill

In [37]:
query = spark.sql("select * from delta.`s3a://delta/people-table`")
query.show()

+---+---+------+------+
|age| id|  name|weight|
+---+---+------+------+
| 27|  4|Heimer|   201|
| 22|  3|Jingle|   188|
| 35|  2| Jacob|   166|
| 30|  1|  John|   177|
| 38|  5| Smith|  null|
+---+---+------+------+

In [44]:
peopleTable.merge(

+-------+-------------------+------+--------+---------+--------------------+----+--------+---------+-----------+--------------+-------------+--------------------+------------+
|version|          timestamp|userId|userName|operation| operationParameters| job|notebook|clusterId|readVersion|isolationLevel|isBlindAppend|    operationMetrics|userMetadata|
+-------+-------------------+------+--------+---------+--------------------+----+--------+---------+-----------+--------------+-------------+--------------------+------------+
|      4|2022-12-30 18:37:14|  null|    null|   UPDATE|{predicate -> (na...|null|    null|     null|          3|          null|        false|{numRemovedFiles ...|        null|
|      3|2022-12-30 18:36:33|  null|    null|    WRITE|{mode -> Overwrit...|null|    null|     null|          2|          null|        false|{numFiles -> 5, n...|        null|
|      2|2022-12-30 18:36:05|  null|    null|    WRITE|{mode -> Overwrit...|null|    null|     null|          1|          null|        false|{numFiles -> 5, n...|        null|
|      1|2022-12-30 18:33:24|  null|    null|   UPDATE|{predicate -> (na...|null|    null|     null|          0|          null|        false|{numRemovedFiles ...|        null|
|      0|2022-12-30 18:30:25|  null|    null|    WRITE|{mode -> Overwrit...|null|    null|     null|       null|          null|        false|{numFiles -> 5, n...|        null|
+-------+-------------------+------+--------+---------+--------------------+----+--------+---------+-----------+--------------+-------------+--------------------+------------+

## Use with Spark SQL by registering as a temp view

In [33]:
peopleTable.toDF().createOrReplaceTempView("peopleTable")

In [34]:
spark.sql("select * from peopleTable").show()

+---+---+------+------+
|age| id|  name|weight|
+---+---+------+------+
| 27|  4|Heimer|   201|
| 22|  3|Jingle|   188|
| 35|  2| Jacob|   166|
| 30|  1|  John|   177|
| 38|  5| Smith|  null|
+---+---+------+------+

## Upsert / Merge

In [76]:
data = [(1, "Johnz", 31,179) ,(6, "His", 56, 156)]
cols = ["id","name","age","weight"]
changes = spark.createDataFrame(data = data, schema = cols)
changes.show()

+---+-----+---+------+
| id| name|age|weight|
+---+-----+---+------+
|  1|Johnz| 31|   179|
|  6|  His| 56|   156|
+---+-----+---+------+

In [77]:
peopleTable.alias("tgt").merge(changes.alias("src"), condition = peopleTable.toDF().id == changes.id) \
    .whenMatchedUpdate( set = { "name" : changes.name, "age" : "src.age", "weight" : changes['weight'] } ) \
    .whenNotMatchedInsert( values = { "id" : "src.id", "name": "src.name", "age": "src.age", "weight" : "src.weight" })\
    .execute()

In [78]:
peopleTable.toDF().show()

+---+---+------+------+
|age| id|  name|weight|
+---+---+------+------+
| 27|  4|Heimer|   201|
| 22|  3|Jingle|   188|
| 35|  2| Jacob|   166|
| 31|  1| Johnz|   179|
| 56|  6|   His|   156|
| 38|  5| Smith|  null|
+---+---+------+------+

In [88]:
peopleTable.history().show()

+-------+-------------------+------+--------+---------+--------------------+----+--------+---------+-----------+--------------+-------------+--------------------+------------+
|version|          timestamp|userId|userName|operation| operationParameters| job|notebook|clusterId|readVersion|isolationLevel|isBlindAppend|    operationMetrics|userMetadata|
+-------+-------------------+------+--------+---------+--------------------+----+--------+---------+-----------+--------------+-------------+--------------------+------------+
|     13|2022-12-30 19:04:26|  null|    null|    MERGE|{predicate -> (`i...|null|    null|     null|         12|          null|        false|{numTargetRowsCop...|        null|
|     12|2022-12-30 19:04:20|  null|    null|    MERGE|{predicate -> (`i...|null|    null|     null|         11|          null|        false|{numTargetRowsCop...|        null|
|     11|2022-12-30 19:03:56|  null|    null|    MERGE|{predicate -> (`i...|null|    null|     null|         10|          null|        false|{numTargetRowsCop...|        null|
|     10|2022-12-30 19:03:48|  null|    null|    MERGE|{predicate -> (`i...|null|    null|     null|          9|          null|        false|{numTargetRowsCop...|        null|
|      9|2022-12-30 19:02:51|  null|    null|    MERGE|{predicate -> (tg...|null|    null|     null|          8|          null|        false|{numTargetRowsCop...|        null|
|      8|2022-12-30 19:02:42|  null|    null|    MERGE|{predicate -> (tg...|null|    null|     null|          7|          null|        false|{numTargetRowsCop...|        null|
|      7|2022-12-30 19:02:28|  null|    null|    MERGE|{predicate -> (tg...|null|    null|     null|          6|          null|        false|{numTargetRowsCop...|        null|
|      6|2022-12-30 19:01:41|  null|    null|    MERGE|{predicate -> (tg...|null|    null|     null|          5|          null|        false|{numTargetRowsCop...|        null|
|      5|2022-12-30 19:01:30|  null|    null|    MERGE|{predicate -> (tg...|null|    null|     null|          4|          null|        false|{numTargetRowsCop...|        null|
|      4|2022-12-30 18:37:14|  null|    null|   UPDATE|{predicate -> (na...|null|    null|     null|          3|          null|        false|{numRemovedFiles ...|        null|
|      3|2022-12-30 18:36:33|  null|    null|    WRITE|{mode -> Overwrit...|null|    null|     null|          2|          null|        false|{numFiles -> 5, n...|        null|
|      2|2022-12-30 18:36:05|  null|    null|    WRITE|{mode -> Overwrit...|null|    null|     null|          1|          null|        false|{numFiles -> 5, n...|        null|
|      1|2022-12-30 18:33:24|  null|    null|   UPDATE|{predicate -> (na...|null|    null|     null|          0|          null|        false|{numRemovedFiles ...|        null|
|      0|2022-12-30 18:30:25|  null|    null|    WRITE|{mode -> Overwrit...|null|    null|     null|       null|          null|        false|{numFiles -> 5, n...|        null|
+-------+-------------------+------+--------+---------+--------------------+----+--------+---------+-----------+--------------+-------------+--------------------+------------+

## Time Travel

Important to know this is a delta feature and not a spark feature

In [98]:
df = spark.read.format("delta").option("timestampAsOf", "2022-12-30 18:30:26").load("s3a://delta/people-table")
df.show()

+---+---+------+------+
|age| id|  name|weight|
+---+---+------+------+
| 27|  4|Heimer|   201|
| 22|  3|Jingle|   188|
| 35|  2| Jacob|   166|
| 30|  1|  John|   175|
| 38|  5| Smith|  null|
+---+---+------+------+

In [95]:
df = spark.read.format("delta").option("versionAsOf", 1).load("s3a://delta/people-table")
df.show()

+---+---+------+------+
|age| id|  name|weight|
+---+---+------+------+
| 27|  4|Heimer|   201|
| 22|  3|Jingle|   188|
| 35|  2| Jacob|   166|
| 30|  1|  John|   177|
| 38|  5| Smith|  null|
+---+---+------+------+

In [99]:
df = spark.read.format("delta").option("timestampAfter", "2022-12-30 18:30:26").load("s3a://delta/people-table")
df.show()

+---+---+------+------+
|age| id|  name|weight|
+---+---+------+------+
| 27|  4|Heimer|   201|
| 22|  3|Jingle|   188|
| 35|  2| Jacob|   166|
| 31|  1| Johnz|   179|
| 56|  6|   His|   156|
| 38|  5| Smith|  null|
+---+---+------+------+

In [104]:
history = peopleTable.history()

for row in history.collect():
    ver = row.version
    df = spark.read.format("delta").option("versionAsOf", ver).load("s3a://delta/people-table")
    print(f"VERSION: {ver}")
    df.show()

VERSION: 13
+---+---+------+------+
|age| id|  name|weight|
+---+---+------+------+
| 27|  4|Heimer|   201|
| 22|  3|Jingle|   188|
| 35|  2| Jacob|   166|
| 31|  1| Johnz|   179|
| 56|  6|   His|   156|
| 38|  5| Smith|  null|
+---+---+------+------+

VERSION: 12
+---+---+------+------+
|age| id|  name|weight|
+---+---+------+------+
| 27|  4|Heimer|   201|
| 22|  3|Jingle|   188|
| 31|  1| Johnz|   178|
| 35|  2| Jacob|   166|
| 56|  6|   His|   156|
| 38|  5| Smith|  null|
+---+---+------+------+

VERSION: 11
+---+---+------+------+
|age| id|  name|weight|
+---+---+------+------+
| 27|  4|Heimer|   201|
| 22|  3|Jingle|   188|
| 35|  2| Jacob|   166|
| 31|  1| Johnz|   178|
| 56|  6|   His|   156|
| 38|  5| Smith|  null|
+---+---+------+------+

VERSION: 10
+---+---+------+------+
|age| id|  name|weight|
+---+---+------+------+
| 27|  4|Heimer|   201|
| 22|  3|Jingle|   188|
| 31|  1| Johns|   178|
| 35|  2| Jacob|   166|
| 56|  6|   His|   156|
| 38|  5| Smith|  null|
+---+---+------+------+

VERSION: 9
+---+---+------+------+
|age| id|  name|weight|
+---+---+------+------+
| 27|  4|Heimer|   201|
| 22|  3|Jingle|   188|
| 31|  1| Johns|   178|
| 35|  2| Jacob|   166|
| 56|  6|   His|   156|
| 38|  5| Smith|  null|
+---+---+------+------+

VERSION: 8
+---+---+------+------+
|age| id|  name|weight|
+---+---+------+------+
| 27|  4|Heimer|   201|
| 22|  3|Jingle|   188|
| 35|  2| Jacob|   166|
| 31|  1|  John|   178|
| 56|  6|   His|   156|
| 38|  5| Smith|  null|
+---+---+------+------+

VERSION: 7
+---+---+------+------+
|age| id|  name|weight|
+---+---+------+------+
| 27|  4|Heimer|   201|
| 22|  3|Jingle|   188|
| 35|  2| Jacob|   166|
| 31|  1|  John|   178|
| 56|  6|   His|   156|
| 38|  5| Smith|  null|
+---+---+------+------+

VERSION: 6
+---+---+------+------+
|age| id|  name|weight|
+---+---+------+------+
| 27|  4|Heimer|   201|
| 22|  3|Jingle|   188|
| 35|  2| Jacob|   166|
| 31|  1|  John|   178|
| 56|  6|   His|   156|
| 38|  5| Smith|  null|
+---+---+------+------+

VERSION: 5
+---+---+------+------+
|age| id|  name|weight|
+---+---+------+------+
| 27|  4|Heimer|   201|
| 22|  3|Jingle|   188|
| 35|  2| Jacob|   166|
| 31|  1|  John|   178|
| 56|  6|   His|   156|
| 38|  5| Smith|  null|
+---+---+------+------+

VERSION: 4
+---+---+------+------+
|age| id|  name|weight|
+---+---+------+------+
| 27|  4|Heimer|   201|
| 22|  3|Jingle|   188|
| 35|  2| Jacob|   166|
| 30|  1|  John|   177|
| 38|  5| Smith|  null|
+---+---+------+------+

VERSION: 3
+---+---+------+------+
|age| id|  name|weight|
+---+---+------+------+
| 27|  4|Heimer|   201|
| 22|  3|Jingle|   188|
| 35|  2| Jacob|   166|
| 30|  1|  John|   175|
| 38|  5| Smith|  null|
+---+---+------+------+

VERSION: 2
+---+---+------+------+
|age| id|  name|weight|
+---+---+------+------+
| 27|  4|Heimer|   201|
| 22|  3|Jingle|   188|
| 35|  2| Jacob|   166|
| 30|  1|  John|   175|
| 38|  5| Smith|  null|
+---+---+------+------+

VERSION: 1
+---+---+------+------+
|age| id|  name|weight|
+---+---+------+------+
| 27|  4|Heimer|   201|
| 22|  3|Jingle|   188|
| 35|  2| Jacob|   166|
| 30|  1|  John|   177|
| 38|  5| Smith|  null|
+---+---+------+------+

VERSION: 0
+---+---+------+------+
|age| id|  name|weight|
+---+---+------+------+
| 27|  4|Heimer|   201|
| 22|  3|Jingle|   188|
| 35|  2| Jacob|   166|
| 30|  1|  John|   175|
| 38|  5| Smith|  null|
+---+---+------+------+