This is an example of the JupySQL SQL magic and its use with spark for writing SQL in the notebook


https://jupysql.ploomber.io/

In [1]:
import pyspark
from pyspark.sql import SparkSession

bucket = "e-drill"

spark = SparkSession.builder \
    .master("local") \
    .appName('jupyter-pyspark') \
        .config("spark.jars.packages","org.apache.hadoop:hadoop-aws:3.3.4,org.apache.spark:spark-avro_2.12:3.1.2")\
        .config("spark.hadoop.fs.s3a.endpoint", "http://minio:9000") \
        .config("spark.hadoop.fs.s3a.access.key", "minio") \
        .config("spark.hadoop.fs.s3a.secret.key", "SU2orange!") \
        .config("spark.hadoop.fs.s3a.fast.upload", True) \
        .config("spark.hadoop.fs.s3a.path.style.access", True) \
        .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem") \
        .config('spark.hadoop.fs.s3a.aws.credentials.provider', 'org.apache.hadoop.fs.s3a.SimpleAWSCredentialsProvider') \
    .getOrCreate()
sc = spark.sparkContext
sc.setLogLevel("ERROR") # Keeps the noise down!!!

In [5]:
c = spark.read.csv("file:///home/jovyan/datasets/customers/customers.csv", inferSchema=True, header=True)
s = spark.read.csv("file:///home/jovyan/datasets/customers/surveys.csv",inferSchema=True, header=True)
c.createOrReplaceTempView("customers")
s.createOrReplaceTempView("surveys")
c.printSchema()
s.printSchema()

root
 |-- First: string (nullable = true)
 |-- Last: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Last IP Address: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Total Orders: integer (nullable = true)
 |-- Total Purchased: integer (nullable = true)
 |-- Months Customer: integer (nullable = true)

root
 |-- Email: string (nullable = true)
 |-- Twitter Username: string (nullable = true)
 |-- Marital Status: string (nullable = true)
 |-- Household Income: string (nullable = true)
 |-- Own Home: string (nullable = true)
 |-- Education: string (nullable = true)
 |-- Favorite Department: string (nullable = true)

In [6]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [7]:
%sql spark

In [12]:
%config SqlMagic.displaylimit = None

displaylimit: Value None will be treated as 0 (no limit)

In [18]:
%sql show tables

Running query in 'SparkSession'

2 rows affected.

+---------+-----------+---------+
| Field 1 |  Field 2  | Field 3 |
+---------+-----------+---------+
|         | customers |   True  |
|         |  surveys  |   True  |
+---------+-----------+---------+

In [16]:
%sql select * from surveys limit 5;

Running query in 'SparkSession'

5 rows affected.

+------------------------+-------------+----------------------+---------+---------+-----------------+----------------------+
|        Field 1         |   Field 2   |       Field 3        | Field 4 | Field 5 |     Field 6     |       Field 7        |
+------------------------+-------------+----------------------+---------+---------+-----------------+----------------------+
|  ojouglad@einrot.com   |   ojouglad  |       Married        |  65000  |    No   |  4 Year Degree  |     Electronics      |
| lkarfurless@dayrep.com | lkarfurless |        Single        |  143000 |   Yes   | Graduate Degree |       Apparel        |
|  lhvmeehom@einrot.com  |  lhvmeehom  | Prefer not to Answer |  75000  |   Yes   |  4 Year Degree  | Prefer not to Answer |
|  sladd@superrito.com   |    sladd    |       Married        |  52000  |   Yes   |  2 Year Degree  |         None         |
|    vrhee@einrot.com    |    vrhee    | Prefer not to Answer |  17500  |    No   |   High School   |        Books         |
+------------------------+-------------+----------------------+---------+---------+-----------------+----------------------+

In [13]:
%%sql

select 
    First, Last, Email, Gender
from customers
where
    Gender = 'F'

Running query in 'SparkSession'

13 rows affected.

+---------+------------+------------------------+---------+
| Field 1 |  Field 2   |        Field 3         | Field 4 |
+---------+------------+------------------------+---------+
|   Abby  |    Kuss    |    akuss@rhyta.com     |    F    |
|  Arial  |   Photo    |   aphoto@dayrep.com    |    F    |
|  Bette  |   Alott    |    balott@rhyta.com    |    F    |
|  Barb   |   Barion   | bbarion@superrito.com  |    F    |
|  Candi  |   Cayne    |    ccayne@rhyta.com    |    F    |
|  Carol  |    Ling    |  cling@superrito.com   |    F    |
|   Erin  |  Detyers   |  edetyers@dayrep.com   |    F    |
|   Jean  |   Poole    |   jpoole@dayrep.com    |    F    |
|   Lee   |  Hvmeehom  |  lhvmeehom@einrot.com  |    F    |
|   Lisa  | Karfurless | lkarfurless@dayrep.com |    F    |
|   Mary  |  Melator   |   mmelator@rhyta.com   |    F    |
|   Sara  |   Bellum   | sbellum@superrito.com  |    F    |
|  Tally  |   Itupp    |  titupp@superrito.com  |    F    |
+---------+------------+------------------------+---------+